body {
    background-color: #222831;
    margin: 0px;
    font-family: Sacramento, cursive;
    box-sizing: border-box;
    }
h1, h2, h3 {
    margin: 0;
   }
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #00adb5;
    border-width: 70px;
    width: 33%;
    min-width: 10rem;
    }
.dropbtn {
  background-color: #00adb5;
  border-radius: 25%;
  color: #eeeeee;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: fixed;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222831;
  text-align: center
}
.dropdown-content a {
  color: #00adb5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color:#393e46;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {opacity: 0.9;}

.top_sec {
    box-sizing: border-box;
    margin: 2% 0% 2% 0%;
    padding: 12% 10% 12% 10%;
    background-color: #393e46;
    border-radius: 50px;
    text-align: center;
    }
.avatar {
    width: 250px;
}
.introduction {
    color: #00adb5;
    overflow: hidden;
}
.name_header {
    font-size: 6.875rem;
}
.header_description {
    font-size: 3.75rem;
}
.social_pictures{
    width: 5rem;
    padding: 1rem;
}
.social_pictures:hover{
    opacity: 0.5;
    }
.mid_sec {
    box-sizing: border-box;
    margin: 2% 0% 2% 0%;
    padding: 5% 5% 5% 5%;
    border-radius: 50px;
    background-color: #393e46;
    overflow: hidden;
    text-align: center;
}
.footer_sec{
    box-sizing: border-box;
    margin: 2% 0% 2% 0%;
    padding: 1% 1% 1% 1%;
    border-radius: 50px;
    background-color: #393e46;
    overflow: hidden;
    text-align: center;
}
.skill_sec{
    overflow: hidden;
}
.skills{
    display: flex;
    flex-direction: column;
}

.sec_header {
    font-size: 3.75rem;
    color: #00adb5;
    margin-bottom: 2%
}
#programming_img{
    flex: 20%;
}
.skill_img{
    width: 250px;
    border-radius: 50%;
    background-color: #00adb5;
}
#programming_header{
    flex: 80%;
}
.headers{
    text-align: left;
    font-size: 3rem;
    color: #00adb5;
}
.headers_centered{
    text-align: left;
    font-size: 3rem;
    color: #00adb5;
    text-align: center
}
.single_skill{
    display: flex;
}
.skill_description{
    margin-block-start: 0;
    text-align: left;
    font-size: 2rem;
    color: #eeeeee;
    white-space: wrap;
    text-align: justify;
}
.project_description{
    margin-block-start: 0;
    text-align: left;
    font-size: 2rem;
    color: #eeeeee;
    white-space: wrap;
    text-align: justify;
}
.list_content{
    margin-block-start: 0;
    text-align: center;
    font-size: 2rem;
    color: #eeeeee;
    white-space: wrap;
}
#communication_img{
    flex: 20%;
}
#communication_header{
    flex: 80%;
}
.emphasis {
    color: #00adb5;
}
.ul {
    list-style-position: inside;
    padding-inline-start: 0;
}
.table {
        display: inline-block;
        box-sizing: border-box;
        border-collapse: collapse;
        table-layout: fixed;
      }
.td, th {
    text-align: center;
}

.center {
    margin-left:auto;
    margin-right:auto;
  }


label {
    color: #eeeeee;
    font-size: 4vh;
    overflow: hidden;
}

.contact_form{
  position: relative;
  border-radius: 50px;
  background: #393e46;
  padding:50px;
  width: 600px;
  margin: 20px auto 0 auto;
  box-shadow: 0 2px 4px rgba(100,100,100,.1);
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
input[type=submit] {
  background-color: #4e89ae;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #43658b;
}